@mixin transform($properties...) {
    transform: $properties;
    -o-transform: $properties;
    -ms-transform: $properties;
    -moz-transform: $properties;
    -webkit-transform: $properties;
}


@mixin transition($properties...) {
    transition: $properties;
    -o-transition: $properties;
    -moz-transition: $properties;
    -webkit-transition: $properties;
}


@mixin object-fit($mode) {
    object-fit: $mode;
    -o-object-fit: $mode;
}


@mixin user-select($mode) {
    user-select: $mode;
    -moz-user-select: $mode;
    -webkit-user-select: $mode;
}
