$background-colour: #222831;
$primary-colour: #393E46;
$secondary-colour: #FFD369;
$tertiary-colour: #EEEEEE;

$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.3rem;
$font-size-xlarge: 1.5rem;

$navbar-height: 80px;
