@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #222831;
  color: #EEEEEE;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.button {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #FFD369;
  border: solid 2px #FFD369;
  border-radius: 5px;
  background-color: transparent;
  padding: 2px 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  -o-transition: background-color 0.3s, color 0.3s;
  -moz-transition: background-color 0.3s, color 0.3s;
  -webkit-transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background-color: #FFD369;
  color: #393E46;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: #393E46;
}
.navbar .navbar-container {
  width: 95%;
  height: 100%;
  margin: auto;
}
.navbar .navbar-container .navbar-menu {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  height: 100%;
}
.navbar .navbar-container .navbar-menu .navbar-item {
  position: relative;
  cursor: pointer;
  transition: color 0.3s;
  -o-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -webkit-transition: color 0.3s;
}
.navbar .navbar-container .navbar-menu .navbar-item::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFD369;
  width: 0;
  height: 2px;
  transition: width 0.3s;
  -o-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -webkit-transition: width 0.3s;
}
.navbar .navbar-container .navbar-menu .navbar-item:hover {
  color: #FFD369;
}
.navbar .navbar-container .navbar-menu .navbar-item:hover::before {
  width: 100%;
}
.navbar .navbar-container .navbar-profile {
  display: inline-flex;
  align-items: center;
  gap: 40px;
  float: right;
  height: 100%;
}
.navbar .navbar-container .navbar-profile .navbar-profile-container {
  display: grid;
  grid-template-rows: auto auto;
  padding: 7px 10px 0 10px;
  height: 100%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #EEEEEE;
  transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
}
.navbar .navbar-container .navbar-profile .navbar-profile-container .navbar-profile-avatar {
  margin: auto;
  width: 40px;
  border-radius: 50%;
}
.navbar .navbar-container .navbar-profile .navbar-profile-container:hover {
  background-color: #222831;
}
