<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apple Pie</title>
        <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    </head>
    <body>
        <div id="main">
            <%- include('partials/navbar.ejs', { user: user }); %>

            <div class="grid-container">
                <div class="grid-item">
                    <div class="grid-item-container">
                        <h3>Profile</h3>
                        <hr>
                        <p class="grid-item-description">
                            View your game stats, monitor your performance, and customize your personal information.
                        </p>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="grid-item-container">
                        <h3>Achievements</h3>
                        <hr>
                        <p class="grid-item-description">
                            Showcase your milestones and track your progress with various accomplishments.
                        </p>
                    </div>
                </div>

                <div class="grid-item">
                    <div class="grid-item-container">
                        <h3>Bot</h3>
                        <hr>
                        <p class="grid-item-description">
                            Invite the Discord bot to your own server and play competitively directly in your own server.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
