<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apple Pie</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <div id="main">
            <%- include('partials/navbar.ejs', { user: user }); %>

            <div class="background">
                <div class="background-top-half">
                    <div class="character-container">
                        <img src="/images/p1.png" alt="player1" class="character-image">
                    </div>
                    <div class="character-container">
                        <img src="/images/p2.png" alt="player2" class="character-image" >
                    </div>
                    <div class="character-container">
                        <img src="/images/p3.png" alt="player3" class="character-image">
                    </div>
                    <div class="character-container">
                        <img src="/images/p4.png" alt="player4" class="character-image">
                    </div>
                </div>
                <div class="background-bottom-half">
                    <video class="background-clip" src="/images/test.mp4" autoplay muted></video>
                </div>
                <div class="background-center-circle"></div>
            </div>
        </div>
    </body>
</html>
